<section class="container payment">
	<p class="paymentTxt">
  			Payment
  		</p>
  	</section>
  	<section class="container managePaymentMethod">
  		<p class="managePaymentTxt">
  			Manage Payment Method
  		</p>
  	</section>
  	<section>
  	<section class="container wallet">
  		<p class="walletTxt">
  			Wallet
  		</p>
  	</section>
  	<section class="container promotionsAndCoupons"> 
  		<p class="promotionsAndCouponsTxt">
  			Promotions and Coupons
  		</p>
  	</section>
  	<section class="container vouchers">
  		<p class="vouchersTxt">
  			Vouchers
  		</p>
  	</section>
  	<section class="container rewards">
  		<p class="rewardsTxt">
  			Rewards
  		</p>
  	</section>
