{{> header}}
	 {{{body}}}
{{> footer}}
<section class="container rental">
	<p class="rentalTxt">
  			Rentals
  		</p>
  	</section>
  	<section class="container map">
  		<p class="mapTxt">
  			Location
  		</p>
  	</section>
  	<section>
  	<section class="container rentalAgreement">
  		<p class="rentalAgreementTxt">
  			Rental Agreement
  		</p>
  	</section>
  	<section class="container receiptBox">
  		<p class="receiptBoxTxt">
  			Receipt Box
  		</p>
  	<section class="container currentTrip">
  		<p class="currentTripTxt">
  			Current Trip
  		</p>
  	</section>
  	<section class="container tripReview">
  		<p class="tripReviewTxt">
  			Trip Review
  		</p>
  	</section>
