<main class="{{pageMainClass}}">
	<h1 class="contactTitle">{{title}}</h1>
	<p class="lead text-muted">{{msg}}</p>
	{{!-- <section class="py-5 text-center container">
	    <div class="row py-lg-5">
	      <div class="col-lg-6 col-md-8 mx-auto">
	        
	        
	        <p>
	          <a href="#" class="btn btn-primary my-2">Main call to action</a>
	          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
	        </p>
	      </div>
	    </div>
  	</section>
  	<section class="container whatWeDo"></section>
  	<section class="container rentalBox"></section>
  	<section class="container testimony"></section>
  	<section class="container about"></section> --}}
</main>