<main class="{{pageMainClass}}">
	<div class="container">

	<section class="py-5 text-center row homeHero">
	    <div class="row py-lg-5">
	      <div class="col-lg-6 col-md-8 mx-auto">
	        <h1 class="homeTitle">{{title}}</h1>
	        <p class="lead text-muted">{{msg}}</p>
	        </p>
	      </div>
	    </div>
  	</section>
  <hr class="divider"></hr>
  	<section class="row whatWeDo">
  		<div class="offset-2 col-8">
  			<h2 class="whatWeDoSubHead">
  				About Us
  			</h2>
  		<p class="whatWeDoTxt">
  			We make self-driving available for you no matter where you are, because the future of transportation should be as easy as it is safe. Our selection of self-driving vehicles react faster than human drivers, improving your safety on the road. Feel a sense of relief riding with Autono, knowing that there is no possibility of your vehicle getting distracted by a cellphone while driving. </p>
  			</div>
  	</section>
	 
		  <section class="row rentalBox">
				<div class="col-12 col-md-6">
					<p>Services</p>
					<ul>
						<li><a href="#">Make Reservation</a></li>
						<li><a href="#">Today's Rental</a></li>
						<li><a href="#">Available Cars</a></li>
						<li><a href="#">List Your Car</a></li>
					</ul>
				</div> 
				<div class="col-12 col-md-6 testimonial">
					<h3>Testimonials</h3>
						<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
							<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active" data-bs-interval="10000">
							<img src="img/man.png" class="main-profile-img">
						{{!-- <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFFFFF"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">First slide</text></svg> --}}
							<div class="carousel-caption d-md-block">
								<h5>Manuel</h5>
								<p class="testimonyQuote">I feel comfortable using Autono when my schedule is too busy to pick up my kids myself.</p>
							</div>
							</div>
							<div class="carousel-item" data-bs-interval="2000">
							<img src="img/man1.png" class="main-profile-img">
							{{!-- <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFFFFF"></rect><text x="50%" y="50%" fill="#bbb" dy=".3em">Second slide</text></svg> --}}
							<div class="carousel-caption d-md-block">
								<h5>Judas</h5>
								<p class="testimonyQuote">Better than Uber.</p>
							</div>
							</div>
							<div class="carousel-item">
							<img src="img/woman.png" class="main-profile-img">
							{{!-- <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFFFFF"></rect><text x="50%" y="50%" fill="#999" dy=".3em">Third slide</text></svg> --}}
							<div class="carousel-caption d-md-block">
								<h5>Kelvina</h5>
								<p class="testimonyQuote">As a student, my schedule is busy. Autono allows me to publish my self-driving car on the rental page, so I can earn income while I am in class.</p>
							</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button" 		data-bs-target="#carouselExampleDark" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
						</div>
				</div> 
			</section>

  	{{!-- <section class="container testimony">
  	</section>
  	<section class="container about">
  	</section> --}}
  </div>
</main>