<main class="{{pageMainClass}}">
	<section class="py-5 text-center container">
	    <div class="row py-lg-5">
	      <div class="col-lg-6 col-md-8 mx-auto">
	        <h1 class="fw-light">{{title}}</h1>
	        <p class="lead text-muted">{{msg}}</p>
	        <p>
	          <a href="#" class="btn btn-primary my-2">Main call to action</a>
	          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
	        </p>
	      </div>
	    </div>
  	</section>
  	<section class="container whatWeDo">
  		<p class="whatWeDoTxt">
  			What we do
  		</p>
  	</section>
	  <div class="container">
		  <section class="row rentalBox">
				<div class="col-12 col-md-4">
					<h5>Service Offered</h5>
					<ul>
						<li><a href="#">Make Reservation</a></li>
						<li><a href="#">Today's Rental</a></li>
						<li><a href="#">Available Cars</a></li>
						<li><a href="#">Setting</a></li>
					</ul>
				</div> 
				<div class="col-12 col-md-4">
					<button class="btn btn-primary" type="submit">Rental Page</button>
				</div>
				<div class="col-12 col-md-4">
					<h3>Testimonial</h3>
				</div> 
			</section>
	  	</div>
  	
  	{{!-- <section class="container testimony">
  	</section>
  	<section class="container about">
  	</section> --}}
</main>