<main class={{pageMainClass}}>
	<div class="container">
		<section class="row signinContainer">

			<div class="col-12">

				<form id="formSignin" class="formSignin" action="/users/login" method="POST">
			      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			      <label for="username" class="sr-only">Username</label>
			      <input type="text" id="username" name="username" class="form-control loginField" placeholder="Username" required autofocus>
			      <label for="password" class="sr-only">Password</label>
			      <input type="password" id="password" name="password" class="form-control loginField" placeholder="Password" required>
			      <div class="checkbox mb-3">
			        <label>
			          <input type="checkbox" value="remember-me"> Remember me
			        </label>
			      </div>
			      <button class="btn btn-lg btn-primary btn-block signinUpBtn" type="submit">Sign in</button>
			      <p class="mt-5 mb-3 text-muted">&copy; 2022-2029</p>
			      	{{#if error}}
			      	<p class="bg-danger errorFlag">User not found. Try again.</p>
					{{else}}
					<p></p>
					{{/if}}
			      
			    </form>

			</div>
		</section>
	</div>
</main>