<main class="pageMainClass">
	<section class="container signinContainer">
		<div class="row">
			<form id="formSignin" class="signinForm" action="/login" method="POST">
				<!---form fields go here-->
				<!--values: username, password -->
				<input type="submit" value="submit" class="signinBtn" />
			</form>
		</div>
	</section>
</main>