<section class="container settings">
  		<p class="settingsTxt">
  			Settings
  		</p>
  	</section>
  	<section class="container profileSettings">
  		<p class="profileSettingsTxt">
  			Profile Settings
  		</p>
 	</section>
  	<section class="container savedPlaces">
  		<p class="savedPlacesTxtt">
  			Saved Places
  		</p>
	</section>
  	<section>
  	<section class="container privacy">
  		<p class="privacyTxt">
  			Privacy
  		</p>
  	</section>
  	<section class="container trustedContacts">
  		<p class="trustedContactsTxt">
  			Trusted Contacts
  		</p>
  	</section>
  	<section class="container signOut">
  		<p class="signOutTxt">
  			Sign Out
  		</p>
  	</section>
  	<section></section>