<main class="pageMainClass">
	<section class="container signupContainer">
		<div class="row">
			<form id="formSignup" class="signupForm" action="/signup" method="POST">
				<!---form fields go here-->
				<!--values: fname, lname, username, password, address-->
				<input type="submit" value="submit" class="signupBtn" />
			</form>
		</div>
	</section>
	<section class="container signInLink">

	</section>
</main>