<main class="{{pageMainClass}}">
	<div class="thanksBox">
		<h2>{{title}}</h2>
		{{#each details}}
		<p>{{this}}</p>
		{{/each}}
		<form class="thankyouGoHome" action="{{path}}" method="get">
	    	<input type="submit" class="btn btn-primary" value="Go to Home" name="Submit" id="frm1_submit"></input>
		</form>
	</div>
</main>
