<main class="{{pageMainClass}}">
	<h1>{{title}}</h1>
	<form class="thankyouGoHome" action="{{path}}" method="get">
    	<input type="submit" class="btn btn-primary" value="Go to Home" name="Submit" id="frm1_submit"></input>
	</form>
</main>
