/*define root variables*/
:root{
  --main-color: #0728AB;
  --secondary-color: #04012E;
  --accent-color: #FFD991;
  --lato: 'Lato', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
}
/*defining fonts*/
/*lato*/
/*@font-face {
  font-family: latoBold;
  src: url(/fonts/lato/Lato-Bold.ttf);
}@font-face {
  font-family: latoLight;
  src: url(/fonts/lato/Lato-Light.ttf);
}@font-face {
  font-family: lato;
  src: url(/fonts/lato/Lato-Regular.ttf);
}*/

/*montserrat*/
/*@font-face {
  font-family: montserrat;
  src: url(inc/fonts/Montserrat/Montserrat-Regular.ttf);
}@font-face {
  font-family: montserratBold;
  src: url(inc/fonts/Montserrat/Montserrat-Bold.ttf);
}@font-face {
  font-family: montserratLight;
  src: url(inc/fonts/Montserrat/Montserrat-Light.ttf);
}*/

body {
  /*padding: 50px;*/
  font-family: sans-serif;
  /*font-family: var(--lato);*/
  font-family: var(--montserrat);
  font-size: 1.2rem;
  font-weight:  700;
}
.imgR{
  width: 100%;
}
/*a {
  color: #00B7FF;
}*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.container{
  width: 100%;
  background-color: #04012E;
  background-postion: center;

}
h1{
  font-size: 4.5rem;
}
.rentalBox{
  font-size: 1.5rem;
}
.testimonial h5{
  font-size:  0.9rem;
}
.testimonial p{
  font-size:  0.6rem;
}
/*Responsive*/

@media all and (min-width: 768px){
  p{
    font-size: 1.5rem;
  }
}